/*Dobby css*/
body {
    padding-top: 5px;
    padding-bottom: 40px;
}

.middle {
    vertical-align: middle;
}

.center form {
    display:inline-block;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}
.container-narrow > hr {
    margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
}
.jumbotron h2 {
    line-height: 1;
    text-align: center;
}

.selector {
    margin-top: 10px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.map {
    width: 100%;
    height: 400px;
}
/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}

#loginModal {
    width: 300px;
    margin-left: -150px;
}

@media (max-width: 767px) {
    #loginModal {
        width: 300px;
        margin-left: 150px;
    }
}

@media (max-width: 480px) {
    #loginModal {
        width: 300px;
        margin-left: 50px;
    }
}


