/*Dobby css*/
body {
    padding-top: 5px;
    padding-bottom: 40px;
}

.middle {
    vertical-align: middle;
}

.center { 
    float: none; margin: 0 auto;
    text-align: center; 
    display: block; 
    width:auto; height:auto;
}

.center form {
    display:inline-block;
}

.top-buffer {
    margin-top: 10px;
}

.point {
    cursor: pointer;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
}
.jumbotron h2 {
    line-height: 1;
    text-align: center;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 20px;
}

.map {
    width: 100%;
    height: 400px;
}
/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}

#loginModal {
    width: 300px;
    margin-left: -150px;
}

@media (max-width: 767px) {
    #loginModal {
        width: 300px;
        margin-left: 150px;
    }
}

@media (max-width: 480px) {
    #loginModal {
        width: 300px;
        margin-left: 50px;
    }
}

.postcode {
    margin-top: 7px;
}

